.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goback {
  text-align: left;
  align-self: flex-start;
  margin: 50px 20px;
  font-weight: 600;
    font-size: 1.5rem;
}

.disqus {
  width: -webkit-fill-available;
  margin: 20px 0;
}